<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system.xsd">
    <system>
        <section id="smallstripes_shipping_restrictions" translate="label" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Shipping Restrictions</label>
            <tab>smallstripes</tab>
            <resource>SmallStripes_ShippingRestrictions::config_shipping_restrictions</resource>
            <group id="settings" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping Restrictions Settings</label>
                <field id="exclude_region" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Exclude region</label>
                    <source_model>SmallStripes\ShippingRestrictions\Model\Config\Source\Region</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="exclude_zip" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Exclude Zip Codes</label>
                    <backend_model>SmallStripes\ShippingRestrictions\Model\Config\Backend\ZipCodes</backend_model>
                </field>
                <field id="disable_po" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable shipping to P.O. Box</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>